{% block content %}
<h2>Edit User</h2>
<form method="POST">
    
    <a href="index.php?action=add" class="button">Add an user</a>
    
    <a href="index.php?action=edit&id=1" class="button">Edit an email</a>

</form>
{% endblock %}